@using FribergCarRentals.Areas.CustomerCenter.Views.Customer
@model EditCustomerViewModel

@{
    ViewData["Title"] = "Edit Customer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit Customer</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HomeCity" class="control-label"></label>
                <input asp-for="HomeCity" class="form-control" />
                <span asp-validation-for="HomeCity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HomeCountry" class="control-label"></label>
                <input asp-for="HomeCountry" class="form-control" />
                <span asp-validation-for="HomeCountry" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Details">Cancel</a>
</div>

