@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager

@{
    ViewData["Title"] = "LoginConfirmation";
}

<h1>LoginConfirmation</h1>

@if (SignInManager.IsSignedIn(User))
{
    <p>Successfully logged in.</p>
    <p>Button here to click to continue to reservations.</p>
}
else
{
    <p>You are not logged in.</p>
}