@model FribergCarRentals.Mvc.Areas.Administration.Views.Car.PhotosCarViewModel

@{
    ViewData["Title"] = "Car Photos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Car Photos</h1>

<h4>@Model.Car.Make @Model.Car.Model (@Model.Car.Year)</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Details">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="PhotoUrl1" class="control-label"></label>
                <input asp-for="PhotoUrl1" class="form-control" />
                <span asp-validation-for="PhotoUrl1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhotoUrl2" class="control-label"></label>
                <input asp-for="PhotoUrl2" class="form-control" />
                <span asp-validation-for="PhotoUrl2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhotoUrl3" class="control-label"></label>
                <input asp-for="PhotoUrl3" class="form-control" />
                <span asp-validation-for="PhotoUrl3" class="text-danger"></span>
            </div>
            <div class="form-group mt-4">
                <a asp-action="Index" class="btn btn-outline-secondary">Cancel</a>
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

