@using FribergCarRentals.Areas.Public.Views.Home
@model IndexHomeViewModel

@{
	ViewData["Title"] = "Home";
}

@if (Model.IsSignedIn && !Model.HasCustomerAccount)
{
	<div class="text-center">
		<h1 class="display-4">User Registration</h1>
		<a class="btn btn-primary" asp-area="Public" asp-controller="Customer" asp-action="Create">
			Create customer account
		</a>
	</div>
}
else
{
	<p class="alert alert-info">Note: For this assignment, a default admin user is created with username 
		"admin@admin.se" and password "Abc123!". You may log in with this admin account to create cars and additional 
		admin users. You may also create your own user account with the Register link in the top-right menu.</p>
	<partial name="_HomeSplashPartial" />
}
