@using FribergCarRentals.Mvc.Areas.Public.Views.Home
@model IndexHomeViewModel

@{
	ViewData["Title"] = "Home";
}

<p class="alert alert-info">
	Note: A default admin user is created with username "admin@admin.se" and password "Abc123!". You may log in
	with this admin account. Or, you may register as a new customer with the Register link in the top-right menu.
</p>
<partial name="_HomeSplashPartial" />
