@using FribergCarRentals.Areas.Public.Views.Home
@model IndexHomeViewModel

@{
	ViewData["Title"] = "Home";
}

@if (Model.IsSignedIn && !Model.HasCustomerAccount)
{
	<div class="text-center">
		<h1 class="display-4">User Registration</h1>
		<a class="btn btn-primary" asp-area="Public" asp-controller="Customer" asp-action="Create">
			Create customer account
		</a>
	</div>
}
else
{
	<div class="text-center">
		<h1 class="display-4">Welcome to Friberg Car Rentals</h1>
		<img src="~/images/Logo.png" class="img-fluid" alt="Frigerg Car Rentals logo" />
		<p>Renting out the best cars in Sweden.</p>
	</div>
}
