@model HomeIndexViewModel

@{
	ViewData["Title"] = "Home";
}

@if (!Model.IsSignedIn)
{
	<div class="text-center">
		<h1 class="display-4">Welcome</h1>
		<a class="btn btn-primary" asp-area="Identity" asp-page="/Account/Register">
			Register
		</a>
	</div>
}
else if (!Model.HasCustomerAccount)
{
	<div class="text-center">
		<h1 class="display-4">Welcome</h1>
		<a class="btn btn-primary" asp-area="Public" asp-controller="Customer" asp-action="Create">
			Fill out new customer information
		</a>
	</div>
}
else
{
	<div class="text-center">
		<h1 class="display-4">Welcome</h1>
		<p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
	</div>
}
