@using FribergCarRentals.Mvc.Session
@inject UserSession UserSession

<ul class="navbar-nav">
	@if (UserSession.IsSignedIn())
	{
		<li class="nav-item">
			<a class="nav-link btn btn-link text-dark" asp-area="Public" asp-controller="Session" asp-action="Signout">Log out</a>
		</li>
	}
	else
	{
		<li class="nav-item">
			<a class="nav-link btn btn-link text-dark" asp-area="Public" asp-controller="Session" asp-action="Signin">Sign in</a>
		</li>
		<li class="nav-item">
			<a class="nav-link btn btn-link text-dark" asp-area="Public" asp-controller="Session" asp-action="Register">Register</a>
		</li>
	}
</ul>
