@using FribergCarRentals.Mvc.Session
@inject UserSession UserSession

<ul class="navbar-nav">
	@if (UserSession.IsSignedIn())
	{
		<li class="nav-item">
			<form class="form-inline" asp-area="Public" asp-controller="Session" asp-action="Signout">
				<button type="submit" class="nav-link btn btn-link text-dark">Log out</button>
			</form>
		</li>
	}
	else
	{
		<li class="nav-item">
			<form class="form-inline" asp-area="Public" asp-controller="Session" asp-action="Signin">
				<button type="submit" class="nav-link btn btn-link text-dark">Log in</button>
			</form>
		</li>
		<li class="nav-item">
			<form class="form-inline" asp-area="Public" asp-controller="Session" asp-action="Register">
				<button type="submit" class="nav-link btn btn-link text-dark">Register</button>
			</form>
		</li>
	}
</ul>
