@model FribergCarRentals.ViewModels.AdminControlPanelViewModel

@{
	ViewData["Title"] = "Admin Page";
}

<div class="text-center">
	<h1 class="display-4">Admin Page</h1>
	<p>Control panel for admins.</p>
	<table>
		<tr>
			<th>Username</th>
			<th>Email</th>
			<th>IsAdmin</th>
			<th>IsUser</th>
			<th></th>
		</tr>
		@foreach (var user in Model.UsersWithRoles)
		{
			<tr>
				<td>@user.ApplicationUser.UserName</td>
				<td>@user.ApplicationUser.Email</td>
				@if (user.IsAdmin)
				{
					<td>Yes</td>
				}
				else
				{
					<td>No</td>
				}
				@if (user.IsUser)
				{
					<td>Yes</td>
				}
				else
				{
					<td>No</td>
				}
				<td>
					<a class="btn btn-outline-primary"
					   asp-area=""
					   asp-controller="Admin"
					   asp-action="Edit"
					   asp-route-id="@user.ApplicationUser.Id">
						Edit user
					</a>
				</td>
			</tr>
		}
	</table>
</div>