@using FribergCarRentals.Mvc.Areas.Administration.Views.IdentityUser
@model EditIdentityUserViewModel

@{
    ViewData["Title"] = "Edit User";
}

<h1>Edit User</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdentityUserId" class="control-label"></label>
                <input asp-for="IdentityUserId" class="form-control" readonly />
                <span asp-validation-for="IdentityUserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdentityUserUsername" class="control-label"></label>
                <input asp-for="IdentityUserUsername" class="form-control" />
                <span asp-validation-for="IdentityUserUsername" class="text-danger"></span>
            </div>
            <div class="form-group mt-4">
                <a asp-action="Index" class="btn btn-outline-secondary">Cancel</a>
                <a asp-area="Administration" asp-controller="IdentityUser" asp-action="Delete" asp-route-id="@Model.IdentityUserId" class="btn btn-danger">Delete</a>
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

